.cardBody {
    position: relative;
    padding-top: 24px;
}

.inputItem {
    width: 100%;
    border: none;
    resize: none;
    height: 132px;
    color: #fff;
    outline: none;
    font-weight: 500;
    padding-right: 10px;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #394150;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4D5562;
    border-radius: 5px;
}