.cardHeader {
    display: flex;
    overflow-x: auto;
    align-items: center;
    padding-bottom: 16px;
    justify-content: space-between;
    border-bottom: 1px solid #4D5562;
}

.langSwitch {
    display: flex;
    list-style: none;
    white-space: nowrap;
    align-items: center;
}

.langSwitchItem {
    position: relative;
    padding: 8px 12px;
    color: #6B727E;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
}

.langSwitchItem.active {
    color: #fff;
    background-color: #4D5562;
}