.cardFooter {
    position: relative;
    padding-top: 16px;
}

.footerCount {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    font-size: 12px;
    font-weight: 500;
    color: #6B727E;
    text-align: right;
}

.footerButtons {
    display: flex;
    min-height: 62px;
    padding-top: 12px;
    align-items: flex-end;
    justify-content: space-between;
}

.footerButtonsLeft {
    display: grid;
    column-gap: 8px;
    grid-template-columns: auto auto;
}

.iconBtn {
    width: 36px;
    height: 36px;
    outline: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 12px;
    justify-content: center;
    border: 2px solid #4D5562;
    background-color: transparent;
    transition: 0.35s ease;
}

.iconBtn img {
    transition: 0.35s ease;
}

.iconBtn:hover,
.iconBtn.iconBtnAnimation {
    border-color: rgba(255, 255, 255, 0.8);
}

.iconBtn:hover img,
.iconBtn.iconBtnAnimation {
    filter: brightness(0) invert(0.8);
}

.translateBtn {
    cursor: pointer;
    outline: none;
    color: #fff;
    display: flex;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 12px;
    align-items: center;
    border: 1px solid #7CA9F3;
    background-color: #3662E3;
    transition: 0.35s ease;
}

.translateBtn:hover {
    border-color: #2962be;
    background-color: #163eb8;
}

.translateBtnIcon {
    margin-right: 7px;
}